<app-header></app-header>
<div class="row" >

  <div class="card text-white mb-3 col-md-2 g-4 mx-2" style="background-color: #9B72AA;" *ngFor="let users of usersArray">
  <div class="card-header" style="background-color: #3C5186;">User</div>
  <div class="card-body">
    <h5 class="card-title">Name: {{users.name}}</h5>
    <p class="card-title">Email: {{users.email}}</p>
    <p class="card-title">Phone: {{users.phone}}</p>
    <p class="card-title">Latitude: {{users.address.geo.lat}}</p>
    <p class="card-title">Longitude: {{users.address.geo.lng}}</p>
  </div>
  </div>

</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
